footer {
	background-color: #1d092d !important;
	// background-image: url(../img/footer.png);
	margin-top: 15px;
	color: white;
	padding-top: 40px;
}

footer p {
	color: #eee;
	margin-bottom: 3px;
}

footer i {
	color: white;
    padding: 5px;
    margin-right: 3px;
    border-radius: 3px;
}

footer a {
	color: white;
}

.footer-logo, .footer-nav {
	min-width: 25%;
	text-align: center;
}

.footer-logo {
	margin-bottom: 40px
}

.footer-nav {
	float: right;
}