nav.navbar {
	width: auto;
}

.navbar-brand {
	color: white;
}

header {
	background-image: url(../img/header_bg.png);
	height: 100vh;
    min-height: 220px;
	background-position: center;
	padding: 0;
	margin: 0;
	background-size: cover;
}

header .row {
	padding-top: 51px;
}

@media screen and (orientation: portrait) {
	#header_logo, #header_texto {
		position: absolute;
		max-height: 30vh;
		max-width: 50vw;
		height: auto;
		left: 50%;
		transform: translateX(-50%);
	}
	#header_logo {
		top: 15%;
	}
	#header_texto {
		bottom: 15%;
	}
}


@media screen and (orientation: landscape) {
	#header_logo, #header_texto {
		position: absolute;
		margin-top: 15px;
		max-height: 50vh;
		max-width: 30vw;
		width: auto;
		top: 50%;
		transform: translateY(-50%);
	}
	#header_logo {
		left: 15%;
	}
	#header_texto {
		right: 15%;
	}
}

.navbar-inverse {
	background-color: #1d092d;
	border-color: #1d092d;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text, a.navbar-brand {
	color: white !important;
}