.marcas {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 1200px) {
	.marcas {
		flex-wrap: wrap;
	}
}

.marcas figure {
	margin: 30px 50px;
}

.marcas img {
    height: auto;
    max-height: 85px;
    width: auto;
}
