.convidado {
	background-image: url(../img/palestrantes_sprite.png);
	background-repeat: no-repeat;
	position: relative;
	width: 300px;
	height: 300px;
}

.adriana-silva, .ariane-parra, .brian, .bruno-cicanci, .caio-dias, 
.cassia-sanctos, .claudia-rosas, .claudio-amaral, .diego-aranha, .eduardo-bonini, 
.erick-varzot, .fernanda-bernardo, .fernando-babadopulos, .fernando-chamis, .fernando-rychlewski, 
.gisele-craveiro, .gustavo-silva, .heloisa-yoshioka, .iana-chan, .jessica, 
.jorge-vieira, .lucia-freitas, .luis-leao, .marcio-ribeiro, .paulo-roberto, 
.pedro-shiguihara, .renato-stefani, .rosario-villalta, .sergio-lopes, .suelen, 
.thiago-araujo
{ max-width: 100%; background-size: 100%; background-image: url('../img/palestrantes_sprite.png'); }
 
.adriana-silva { background-position: 0 0%; background-size: 100%; }
.ariane-parra { background-position: 0 3.333333%; background-size: 100%; }
.brian { background-position: 0 6.666667%; background-size: 100%; }
.bruno-cicanci { background-position: 0 10%; background-size: 100%; }
.caio-dias { background-position: 0 13.333333%; background-size: 100%; }
.cassia-sanctos { background-position: 0 16.666667%; background-size: 100%; }
.claudia-rosas { background-position: 0 20%; background-size: 100%; }
.claudio-amaral { background-position: 0 23.333333%; background-size: 100%; }
.diego-aranha { background-position: 0 26.666667%; background-size: 100%; }
.eduardo-bonini { background-position: 0 30%; background-size: 100%; }
.erick-varzot { background-position: 0 33.333333%; background-size: 100%; }
.fernanda-bernardo { background-position: 0 36.666667%; background-size: 100%; }
.fernando-babadopulos { background-position: 0 40%; background-size: 100%; }
.fernando-chamis { background-position: 0 43.333333%; background-size: 100%; }
.fernando-rychlewski { background-position: 0 46.666667%; background-size: 100%; }
.gisele-craveiro { background-position: 0 50%; background-size: 100%; }
.gustavo-silva { background-position: 0 53.333333%; background-size: 100%; }
.heloisa-yoshioka { background-position: 0 56.666667%; background-size: 100%; }
.iana-chan { background-position: 0 60%; background-size: 100%; }
.jessica { background-position: 0 63.333333%; background-size: 100%; }
.jorge-vieira { background-position: 0 66.666667%; background-size: 100%; }
.lucia-freitas { background-position: 0 70%; background-size: 100%; }
.luis-leao { background-position: 0 73.333333%; background-size: 100%; }
.marcio-ribeiro { background-position: 0 76.666667%; background-size: 100%; }
.paulo-roberto { background-position: 0 80%; background-size: 100%; }
.pedro-shiguihara { background-position: 0 83.333333%; background-size: 100%; }
.renato-stefani { background-position: 0 86.666667%; background-size: 100%; }
.rosario-villalta { background-position: 0 90%; background-size: 100%; }
.sergio-lopes { background-position: 0 93.333333%; background-size: 100%; }
.suelen-carvalho { background-position: 0 96.666667%; background-size: 100%; }
.thiago-araujo { background-position: 0 100%; background-size: 100%; }

.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}