header {
	background-image: url(../img/header_bg.png);
	height: 100vh;
    min-height: 220px;
	background-position: center;
	padding: 0;
	margin: 0;
	background-size: cover;
	display: flex;
	align-items: center;
}

header img {
	max-width: 100vw;
}

section h2, section h3 {
	text-align: center;
	color: #391954;
}

.conteudo {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.conteudo img {
	/*max-width: 30vw;*/
}

.contato {
	margin-bottom: 100px;
}

.info small {
	color: #1D355A;
}

table, table th {
	text-align: center;
}

.banner {
	margin-top: 51px;
	background-color: #5e2b8a;
}

.banner img {
	min-height: 40vh;
	min-width: 375px;
}

.biografias img {
	max-height: 300px
}

.slick-prev:before, .slick-next:before {
	color: #434a54;
}

.palestrante {
	display: flex;
	align-items: center;
}

.panel {
	margin-top: 20px;
}

.nav-pills>li>a {
	color: #511d7d;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #511d7d;
	border-color: #511d7d;
}

.mapa {
	display: flex;
	justify-content: center;
}

.marcas {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
  	-webkit-flex-flow: row wrap;
  	justify-content: space-around;
}

section.parceria img {
	max-height: 100px;
	max-width: 150px;
	margin-bottom: 30px;
}

.marcas marca:last-child {
	margin-bottom: 0px;
}

footer.footer {
	margin-top: 100px;
}