@font-face {
	font-family: Geometric Book;
	src: url(fontes/Geometric_Book.otf);
}

@font-face {
	font-family: Geometric;
	src: url(fontes/Geometric_Regular.otf);
}

@font-face {
	font-family: Geometric;
	src: url(fontes/Geometric_DemiBold.otf);
	font-weight: bolder;
}

@font-face {
	font-family: Geometric;
	src: url(fontes/Geometric_Light.otf);
	font-weight: lighter;
}

* {
	font-family: Geometric;
	font-weight: 600;
}

h2 {
	margin-bottom: 40px;
}

p {
	font-size: medium;
}

.panel p {
	font-size: 16px;
}

html, body {
	overflow-x: hidden;
}
html, body. div{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

nav.navbar {
	/*width: 100vw;*/
	width: auto;
}

.navbar-brand {
	color: white;
}

header {
	background-image: url(../img/header_bg.png);
	height: 100vh;
    min-height: 220px;
	background-position: center;
	padding: 0;
	margin: 0;
	background-size: cover;
}

header .row {
	padding-top: 51px;
}

@media screen and (orientation: portrait) {
	#header_logo, #header_texto {
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	#header_logo {
		position: absolute;
		top: -30vh;
		left: 0;
		max-height: 30vh;
		min-height: 100px;
		width: 30vw;
		min-width: 100px;
		margin: auto;
	}
	#header_texto {
		position: absolute;
		top: 35vh;
		left: 0;
		max-height: 30vh;
		min-height: 100px;
		width: 40vw;
		min-width: 100px;
		margin: auto;	
	}
}

@media screen and (orientation: landscape) {
	#header_logo, #header_texto {
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	#header_logo {
		position: absolute;
		top: 0;
		left: -45vw;
		max-height: 30vw;
		min-height: 100px;
		width: 30vw;
		min-width: 100px;
		margin: auto;
	}
	#header_texto {
		position: absolute;
		top: 0;
		left: 50vw;
		max-height: 30vh;
		min-height: 100px;
		width: 30vw;
		min-width: 100px;
		margin: auto;	
	}
}

.navbar-inverse {
	background-color: #1d092d;
	border-color: #1d092d;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text, a.navbar-brand {
	color: white !important;
}

section h2, section h3 {
	text-align: center;
	color: #391954;
}

.floated {
	float: right;
	width: 400px;
	padding-left: 20px;
	padding-bottom: 20px;
}

.conteudo {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	overflow-x: scroll;
	padding-left: 20px;
	padding-right: 20px;
}

.conteudo span {
	font-family: Geometric;
	font-weight: bolder;
}

.contato {
	margin-bottom: 100px;
}

.info small {
	color: #1D355A;
}

table, table th {
	text-align: center;
	color: #511d7d;
}

.banner {
	margin-top: 51px;
	background-color: #5e2b8a;
}

.banner img {
	min-height: 40vh;
	min-width: 375px;
}

.biografias img {
	max-height: 300px
}

.slick-prev:before {
	margin-right: -50px;
}

.slick-next:before {
	margin-left: -50px;
}
.slick-prev:before, .slick-next:before {
	color: #391954;
	font-size: 20px;
}

.painel {
	margin-top: 20px;
}

@media (min-width: 992px) {
	.descricao {
		margin-right: 25px;
	}
}

.nav.nav-pills {
	display: flex;
	justify-content: center;
}

.nav-pills>li>a {
	color: #511d7d;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #511d7d;
	border-color: #511d7d;
}

.mapa, .inscricao {
    position: relative;
    margin: auto;
    float: none;
	display: flex;
	justify-content: center;
    overflow: hidden;
}

.mapa {
    height: 0;
    padding-bottom: 350px; /*This is the aspect ratio*/
}

.mapa iframe, .inscricao iframe {
	position: absolute;
	top: 0;
	left: 0;
	/*width: 100% !important;*/
	/*height: 100% !important;*/
}

.marcas {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
  	-webkit-flex-flow: row wrap;
  	justify-content: space-around;
}

section.parceria img {
	max-height: 100px;
	max-width: 222px;
	margin-bottom: 30px;
}

.marcas marca:last-child {
	margin-bottom: 0px;
}

footer.footer {
	/*background-color: #391954;*/
	background-image: url(../img/footer.png);
	margin-top: 15px;
	color: white;
	padding: 15px;
}

footer.footer p {
	color: #eee;
	margin-bottom: 3px;
}

footer.footer i {
	color: white;
    padding: 5px;
    margin-right: 3px;
    border-radius: 3px;
}

footer.footer a {
	color: white;
}

footer.footer a:hover {
	text-decoration: underline;
}

footer.footer p {
	margin-top: 5px;
}

footer.footer ul {
	list-style-type: none;
	padding: 0;

}

@media (max-width: 992px) {
	footer.footer {
		text-align: center !important;
	}
}