<section class="parceria row" ng-controller="marcasCtrl">
	<div class="container">
		
		<div class="row">		
			<h3>Realização</h3>
			<!-- DASI etc... -->
			<div class="marcas">
				<marca ng-repeat="organizador in organizadores" nome="{{organizador.nome}}" url="{{organizador.url}}" imagem="{{organizador.logo}}"></marca>
			</div>
		</div>
		
		<div class="row">	
			<h3>Patrocínio</h3>
			<div class="marcas">
				<marca ng-repeat="empresa in empresas" nome="{{empresa.nome}}" url="{{empresa.url}}" imagem="{{empresa.logo}}"></marca>
			</div>
		</div>

		<div class="row">
			<h3>Apoiadores</h3>
			<!-- EACH USP Casa do Código -->
			<div class="marcas">
				<marca ng-repeat="apoiador in apoiadores" nome="{{apoiador.nome}}" url="{{apoiador.url}}" imagem="{{apoiador.logo}}"></marca>
			</div>
		</div>

	</div>
</section>