<section class="programacao row" ng-controller="calendarioCtrl">

	<div class="container">
		<h2>Programação</h2>

		<div id="esse" class="nav nav-pills" ng-init="dia = 15" role="group" aria-label="...">
			<li role="presentation" class="active"><a ng-click="dia = 15" href="">15/08 (segunda-feira)</a></li>
			<li role="presentation"><a ng-click="dia = 16" href="">16/08 (terça-feira)</a></li>
			<li role="presentation"><a ng-click="dia = 17" href="">17/08 (quarta-feira)</a></li>
			<li role="presentation"><a ng-click="dia = 18" href="">18/08 (quinta-feira)</a></li>
			<li role="presentation"><a ng-click="dia = 19" href="">19/08 (sexta-feira)</a></li>
		</div>

		<hr>

		<table class="table table-hover">
			<thead>
			<tr>
				<th>Horário</th>
				<th>Atividade</th>
				<th>Convidado</th>
				<th>Local</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="palestra in palestras(dia)" ng-class="palestra.destaque">
				<td>{{palestra.horario}}</td>
				<td>{{palestra.titulo}}</td>
				<td>{{palestra.palestrante}}</td>
				<td class="text-primary">Auditório Azul</td>
			</tr>
			</tbody>
		</table>
		<div class="btn btn-default">Adicionar ao Google Calendar</div>
	</div>
</section>