<section class="container sobre">
<!--<section class="sobre row" ng-controller="temaCtrl">-->
	<h2>Sobre a Semana</h2>
	<div class="col-xs-12 text-justify">
		<p>
			A Semana de Sistemas de informação (SSI) é o evento acadêmico mais importante do ano para o curso de Sistemas de Informação da USP. Trata-se de um evento com duração de uma semana que reúne diversas atividades visando integrar os alunos do curso com profissionais da área, além de aprimorar seus conhecimentos através de palestras, workshops, minicursos, entre outros. A SSI é uma ótima oportunidade para a troca de experiências entre alunos, profissionais da academia e da indústria da tecnologia que passam pelo evento.
		</p>
		<p>
			Em sua 6ª edição, a Semana de Sistemas de Informação da USP, ocorrerá na terceira semana de agosto e contemplará os três períodos, que ficarão sem aulas regulares com as atenções totalmente voltadas para o evento: matutino, vespertino e noturno. Historicamente, mais de 600 pessoas se inscrevem para os 5 dias de evento, que também conta com a participação de profissionais convidados internos e externos à Universidade de São Paulo, sejam eles: expoentes na área de inovação ou tecnologia; alunos de Sistemas de Informação da EACH-USP; alunos egressos do curso ou de outras faculdades de tecnologia.
		</p>
		<p>
			Dentre as atividades da SSI, ocorrem palestras de conteúdo acadêmico; recrutamento empresarial; minicursos focados em aprendizados dinâmicos; exposição de trabalhos de iniciação científica e pós-graduação; mesa-redonda de egressos; workshops, além de atividades culturais e artísticas.
		</p>
		<p>
			Na edição de 2016 haverá uma novidade: a realização do primeiro Hackathon da Escola de Artes, Ciências e Humanidades da USP. Um Hackathon é uma maratona de programação que vai integrar os 10 cursos da EACH, um evento cheio de desafios, surpresas e muito aprendizado. Além disso, palestrantes e empresas de renome passarão pela VI SSI, o que promete um grande evento nessa edição!
		</p>
	</div>
</section>