<section class="container sobre">
	<h2>Palestras, Paineis e muito Networking!</h2>

	<div class="conteudo">
		<div class="text-justify">
			<figure class="floated">
				<img src="img/ssi_evento.jpg" alt="" class="center-block img-responsive">
				<figcaption>John Maddog Hall durante a 4ª Semana de Sistemas de Informação</figcaption>
			</figure>
			<p>
				A Semana de Sistemas de informação é o evento acadêmico mais importante do ano para o curso de SI e promete agitar o campus da Escola de Artes, Ciências e Humanidades da USP. A SSI é a oportunidade dos alunos aprimorarem seus conhecimentos de maneira diferenciada, além de terem contato com diversos profissionais e empresas da área.
			</p>
			<p>
				A 6ª SSI acontecerá dos dias <span>15 a 19 de agosto</span> e dentre as atividades previstas estão palestras, paineis, recrutamento empresarial, exposição de trabalhos de pós-graduação, mesa-redonda de egressos e muito mais.
			</p>
			<p>
				Não é aluno de SI ou não estuda na USP? Você também é muito bem-vindo, a 6ª SSI foi planejada pensando em ser aberta e acessível à todos, com palestras de conteúdos culturais e atividades artísticas. Fique de olho na nossa programação!
			</p>
			<p>
				E para fechar as atividades da 6ª SSI, nessa edição haverá uma novidade: a realização do primeiro Hackathon da Escola de Artes, Ciências e Humanidades da USP. Um Hackathon é uma maratona de programação que vai integrar diversos cursos, um evento cheio de desafios, surpresas e muito aprendizado.
			</p>
			<p>
				Não perca!
			</p>
		</div>
	</div>
</section>