<section class="container sobre">
	<h2>Workshops, Palestras e muito Networking</h2>

	<div class="conteudo">
		<div class="col-xs-12 col-md-8 text-justify">
			<p>
				A Semana de Sistemas de informação é o evento acadêmico mais importante do ano para o curso de Sistemas de Informação da USP. A SSI é a oportunidade dos alunos aprimorarem seus conhecimentos de maneira diferenciada, além de terem contato com diversos profissionais da área.
			</p>
			<p>
				A 6ª SSI acontecerá na terceira semana de agosto e dentre as atividades previstas estão workshops, palestras, recrutamento empresarial, exposição de trabalhos de pós-graduação, mesa-redonda de egressos, além de atividades culturais e artísticas.
			</p>
			<p>
				E para fechar as atividades da 6ª SSI, nessa edição haverá uma novidade: a realização do primeiro Hackathon da Escola de Artes, Ciências e Humanidades da USP. Um Hackathon é uma maratona de programação que vai integrar os cursos da EACH, um evento cheio de desafios, surpresas e muito aprendizado.
			</p>
		</div>
		<div class="col-xs-12 col-md-4">
			<img src="img/ssi_evento.jpg" alt="" class="center-block img-responsive">
		</div>
	</div>
</section>