<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>6ª Semana de Sistemas de Informação</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height" />
	<link rel="shortcut icon" href="img/icone.ico"></link>

	<!-- build:css -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="node_modules/bootflat/bootflat/css/bootflat.min.css">
	<link rel="stylesheet" href="node_modules/slick-carousel/slick/slick.css">
	<link rel="stylesheet" href="node_modules/slick-carousel/slick/slick-theme.css">
	<link rel="stylesheet" href="css/fontes.css">
	<link rel="stylesheet" href="css/ssi.css">
	<link rel="stylesheet" href="css/footer.css">
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/parceria.css">
	<link rel="stylesheet" href="css/sprites.css">
	<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
	<!-- endbuild -->
	
	<!-- <script src="https://use.fontawesome.com/9b2c76607c.js"></script> -->

</head>

<body ng-app="ssi" class="home">

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" id="home" href="">6ª SSI</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="#" id="sobre">Sobre</a></li>
					<li><a href="#palestrantes" id="palestrantes">Convidados</a></li>
					<li><a href="#programacao" id="programacao">Programação</a></li>
					<li><a href="#hackathon" id="hackathon">Hackathon</a></li>
					<li><a href="#localizacao" id="localizacao">Localização</a></li>
					<!-- <li><a href="#incricao" id="inscricao">Inscrição</a></li> -->
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<button id="inscricao" type="button" class="btn btn-default navbar-btn">Inscreva-se</button>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<header>
		<div class="row">
			<img src="img/header_logo.png" id="header_logo"/>
			<img src="img/header_texto.png" id="header_texto"/>
		</div>
	</header>

	<main>

		<section class="container sobre">
			<h2>Palestras, Paineis e muito Networking!</h2>

			<div class="conteudo">
				<div class="text-justify">
					<figure class="floated">
						<img src="img/ssi_evento.jpg" alt="" class="center-block img-responsive img-thumbnail">
						<figcaption>John Maddog Hall durante a 4ª Semana de Sistemas de Informação</figcaption>
					</figure>
					<p>
						A Semana de Sistemas de informação é o evento acadêmico mais importante do ano para o curso de SI e promete agitar o campus da Escola de Artes, Ciências e Humanidades da USP. A SSI é a oportunidade dos alunos aprimorarem seus conhecimentos de maneira diferenciada, além de terem contato com diversos profissionais e empresas da área.
					</p>
					<p>
						A 6ª SSI acontecerá dos dias <span>15 a 19 de agosto</span> e dentre as atividades previstas estão palestras, paineis, recrutamento empresarial, exposição de trabalhos de pós-graduação, mesa-redonda de egressos e muito mais.
					</p>
					<p>
						Não é aluno de SI ou não estuda na USP? Você também é muito bem-vindo, a 6ª SSI foi planejada pensando em ser aberta e acessível à todos, com palestras de conteúdos culturais e atividades artísticas. Fique de olho na nossa programação!
					</p>
					<p>
						Não perca!
					</p>
				</div>
			</div>
		</section>
		<hr>
		
		<section class="palestrantes container" ng-controller="palestranteCtrl">
			<h2>Convidados</h2>
			<div class="biografias">
				<div ng-repeat="palestrante in palestrantes" class="container">
					<palestrante nome="{{palestrante.nome}}" foto="{{palestrante.foto}}" descricao="{{palestrante.descricao}}"></palestrante>
				</div>
			</div>
		</section>
		<hr>

		<section class="programacao row" ng-controller="calendarioCtrl">

			<div class="container">
				<h2>Programação</h2>

				<div id="datas" class="btn-group" ng-init="dia = 15">
					<button class="btn btn-default active" ng-click="dia = 15">15/08 (segunda-feira)</button>
					<button class="btn btn-default" ng-click="dia = 16">16/08 (terça-feira)</button>
					<button class="btn btn-default" ng-click="dia = 17">17/08 (quarta-feira)</button>
					<button class="btn btn-default" ng-click="dia = 18">18/08 (quinta-feira)</button>
					<button class="btn btn-default" ng-click="dia = 19">19/08 (sexta-feira)</button>
				</div>

				<hr>
				<table class="table table-hover">
					<thead>
					<tr class="esse">
						<th>Horário</th>
						<th>Atividade</th>
						<th>Convidado</th>
						<th>Local</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="palestra in palestras(dia)" ng-class="palestra.destaque">
						<td>{{palestra.horario}}</td>
						<td>{{palestra.titulo}}</td>
						<td ng-bind-html="palestra.palestrante"></td>
						<td ng-class="palestra.local.classe">{{palestra.local.nome}}</td>
					</tr>
					</tbody>
				</table>
				<!-- <div class="btn btn-default">Adicionar ao Google Calendar</div> -->
			</div>
		</section>
		<hr>

		<section class="hackathon container">
			<h2>EACH Hack Lab</h2>

			<div class="row">
				<figure class="floated">
					<a href="https://goo.gl/hWBR1y" target="_blank">
						<img src="img/hack_lab.png" alt="" class="center-block img-responsive img-thumbnail">
					</a>
				</figure>
				
				<div class="text-justify">
					<p>Este ano, a SSI contará com uma super novidade: O EACH Hack Lab, o primeiro Hackathon da EACH!</p>
					<p>Hackathon é uma maratona de programação, onde os competidores aplicam todo seu conhecimento a fim de solucionar um problema ou propor uma ideia, de acordo com o tema.</p>
					<p>O EACH Hack Lab irá finalizar as atividades da SSI e acontecerá entre sexta-feira (19) e sábado (20). Serão 30 horas de desafios, trabalho duro e aprendizado recompensados com prêmios no final!</p>
					<p>Fique ligado no nosso evento pra saber de todas as informações!</p>
					<p>Link do evento: <a href="https://goo.gl/hWBR1y" target="_blank">EACH Hack Lab</a></p>
				</div>
			</div>

			<div class="alert alert-info">
				<h4>INSCRIÇÕES ABERTAS</h4>
				<!-- <p>Change this and that and try again. <a class="alert-link">Duis mollis</a>, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p> -->
				<p><a class="btn btn-primary" href="https://goo.gl/1WdGSD" target="_blank">Formulário de Inscrição</a> <a class="btn btn-link" href="https://goo.gl/vUP7U6" target="_blank">Regulamento</a></p>
			</div>

		</section>
		<hr>

		<section class="localizacao">
			<div class="container">
				<h2>Localização</h2>
				<div class="mapa">
					<iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3659.328110319832!2d-46.502840516518745!3d-23.484688509590992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xb1812652638ca56e!2sUniversidade+de+S%C3%A3o+Paulo+-+Escola+de+Artes%2C+Ci%C3%AAncias+e+Humanidades!5e0!3m2!1spt-BR!2sbr!4v1425937449480" width="1200" height="300" frameborder="0"></iframe>
				</div>
				<button class="btn btn-lg center-block btn-purple"><a href="http://www5.each.usp.br/como-chegar/" target="_blank">Formas de Chegar</a></button>
			</div>
		</section>
		<hr>

		<section inscricao></section>
		<hr>

		<section class="parceria row" ng-controller="marcasCtrl">
			<div class="container">
				
				<div class="row">		
					<h3>Realização</h3>
					<div class="marcas">
						<marca ng-repeat="organizador in organizadores" nome="{{organizador.nome}}" url="{{organizador.url}}" imagem="{{organizador.logo}}"></marca>
					</div>
				</div>
				
				<div class="row">	
					<h3>Patrocínio</h3>
					<div class="marcas">
						<marca ng-repeat="empresa in empresas" nome="{{empresa.nome}}" url="{{empresa.url}}" imagem="{{empresa.logo}}"></marca>
					</div>
				</div>

				
				<div class="row">
					<h3>Apoio</h3>
					<div class="marcas">
						<marca ng-repeat="apoiador in apoiadores" nome="{{apoiador.nome}}" url="{{apoiador.url}}" imagem="{{apoiador.logo}}"></marca>
					</div>
				</div>

			</div>
		</section>

	</main>

	<footer>
		<div class="container">
			<div class="clearfix">
				<div class="footer-logo"><a href="#"><img src="img/tiny_logo.png">Semana de Sistemas de Informação</a></div>
				<dl class="footer-nav">
					<dt class="nav-title">Edições Anteriores</dt>
					<dd class="nav-item"><a href="http://www.each.usp.br/semanasi/2015/" target="_blank">V Semana</a></dd>
					<dd class="nav-item"><a href="http://www.each.usp.br/semanasi/2013/index.php" target="_blank">IV Semana</a></dd>
					<dd class="nav-item"><a href="http://www.each.usp.br/semanasi/2012/" target="_blank">III Semana</a></dd>
					<dd class="nav-item"><a href="http://www.each.usp.br/semanasi/2010/" target="_blank">II Semana</a></dd>
					<dd class="nav-item"><a href="http://www.each.usp.br/semanasi/2009/" target="_blank">I Semana</a></dd>
				</dl>
				<dl class="footer-nav">
					<dt class="nav-title">CONTATO</dt>
					<dd class="nav-item"><i class="fa fa-facebook-official" aria-hidden="true"></i> <a href="http://www.fb.com/SSIUSP" target="_blank">fb.com/SSIUSP</a></dd>
					<dd class="nav-item"><i class="fa fa-envelope" aria-hidden="true"></i> <a mailto="semanasiusp@gmail.com">semanasiusp@gmail.com</a></dd>
				</dl>
			</div>
			<div class="footer-copyright text-center">Copyright © 2016 DASI - Diretório Acadêmico de Sistemas de Informação.</div>
		</div>
	</footer>
	
	<!-- build:js -->
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="node_modules/slick-carousel/slick/slick.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/diretivas.js"></script>
    <script src="js/script.js"></script>
	<!-- endbuild -->

</body>
</html>
